.FAQ-banner{
    height: 304px;
    background-image: url('/images/week4/72@2x.png');
    background-size: cover;
    background-position:  center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1{
        font-size: 64px;
        line-height: 80px;
        padding: 0 0 0 360px;
    }

    .quesition-icon{
        width: 58px;
        height: 58px;
    }
}

.FAQ-contain{
    display: flex;
    justify-content: center;

    h2{
        color: #000;
        font-size: 200%;
        line-height: 63px;
        margin-top: 88px;
        margin-bottom: 16px;
    }
}

.question-lists{
    width: 62.5%;
    margin-bottom: 156px;
}

.question-list-item{ 
    position: relative;
    border: 1px solid #000;
    
    .quesition-title{
        font-size: 20px;
        line-height: 72px;
        padding: 22px 38px; 
        font-weight: 500;
    }

    input[type=checkbox]{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;
        width: 39px;
        height: 24px;
        background-size: cover;
        background-position: center center;
        background-image: url("/images/week4/ic_keyboard_arrow_down_24px.svg");
        position: absolute;
        right: 16px;
        top: 24px;
        cursor: pointer;
    }

    .slide-content{
        display: none;
        font-size: 16px;
        line-height: 24px;
    }

    input[type=checkbox]:checked{
        transform: rotate(180deg);
        outline: none;
    }

    input[type=checkbox]:checked + .slide-content{
        display: block;
        border-top: 1px solid #000;
        background-color: #F2F2F2;
        padding: 22px 38px;
    }

}

@media (max-width: 768px){
    .FAQ-banner{
        background-position: 30% center;
        background-size: cover;

        h1{
            font-size: 48px;
            line-height: 80px;
            padding: 0 0 0 48px;
        }
    }

    .FAQ-contain{
        padding: 48px;
        margin: 0;
        align-items: flex-start;

        h2{
            margin-top: 0;
        }
    }

    .question-lists{
        width: 100%;
        margin-bottom: 104px;
    }

    .question-list-item{ 
        .quesition-title{
            line-height: 54px;
            padding: 16px 24px;
        }

        input[type=checkbox]{
            right: 24px;
            top: 15px;
        }

        input[type=checkbox]:checked + .slide-content{
            padding: 16px 24px;
        }
    }
}

@media (max-width: 375px){
    .FAQ-banner{
        height: 143px;
        background-position: 30% center;
        background-size: cover;

        h1{
            font-size: 28px;
            line-height: 40px;
            padding: 0 12px;
        }

        .quesition-icon{
            width: 24px;
            height: 24px;
        }
    }

    .FAQ-contain{
        padding: 0 12px;
        
        h2{
            font-size: 20px;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 16px;
        }
    }

    .question-lists{
        width: 100%;
        margin-bottom: 56px;
    }

    .question-list-item{ 
        .quesition-title{
            font-size: 16px;
            line-height: 54px;
            padding: 16px;
        }

        input[type=checkbox]{
            right: 8px;
            top: 15px;
        }
    }
}