// 字型
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,900,900i&display=swap');


//全域設定
html,body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

a{
    display: block;
    @include font(1.5);

    &:hover{
        text-decoration: none;
        color: black;
    }
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h2{
    @include h2-title-base(3,$red-dark,5);

    @include pad{
        @include h2-title-base(2,$red-dark,2);
    }

    @include phonePlus{
        @include h2-title-base(1.75,$red-dark,1);
    }

    @include phone{
        @include h2-title-base(1.75,$red-dark,1);
    }
}