// function
@function padding($paddingLevel: 1){
    @return $paddingLevel * $paddingBase
};

@function margin($marginLevel: 1){
    @return $marginLevel * $marginBase
};

@function fontSize($fontLevel: 1){
    @return $fontLevel * $fontBase
};

// mixin

@mixin font($level: 1){
    font-size: fontSize($level);
    line-height: 1.5;
}

@mixin box-size($w,$h:$w) {
    width: $w;
    height: $h;
}

@mixin h2-title-base ($fz: 3, $color: $red-dark, $m: 5){
    text-align: center;
    color: $color;
    @include font($fz);
    margin-bottom: margin($m);
}


//media query

@mixin phone {
    @media(max-width: 414px) {
        @content;
    }
}

@mixin phonePlus {
    @media (min-width: 414px) and (max-width: 767px){
        @content;
    }
}

@mixin pad {
    @media (min-width: 768px) and (max-width: 995px) {
        @content;
    }
}
