//header
.nav-bar{
    background-color: $red;
    color: #fff;
    position: relative;
    padding: padding(2.5) 0 ;
    a{
        color: #fff;
    }

    @include pad{
        padding: padding(1.875) 0; 
    }

    @include phone{
        padding: padding(1) 0 ; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ham{
    position: absolute;
    left: 13px;
}

.nav{
    @include phone{
        display: none;
    }
}

.nav-item{
    margin-left: margin(4);

    @include pad{
        margin-left: margin(2.5);
    }
}

.menu-pic{
    display: none;
    cursor: pointer;

    @include phone{
        display: block;
    }
}

.dropdowns{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    transition: 0.8s;
    overflow: hidden;
    z-index: 10;
}

.dropdown-list{
    width: 100%;
}

.dropdown-item{
    background-color: $red;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.active {
    max-height: 240px;
}

//footer
.footer{
    padding: padding(2.5) 0;
    background-color: $red;
    color: #fff;
    display: flex;
    flex-direction: column;

    hr{
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    @include pad{
        padding: 40px 5.5%;
    }
}

.link-infos-list,.link-infos,.sociallink-infos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.link-infos{
    li{
        margin-right: 48px;
        @include font(1);
    }
    
    @include pad{
        li{
            margin-right: 36px;
        } 

        img{
            @include box-size(23px);
        }
    } 

    @include phone{
        display: none;
    }
} 


.sociallink-infos {
    li{
        margin-left: 32px;
    }
    
    @include pad{
        img{
            @include box-size(24px);
        }
    }

    @include phone{
        img{
            @include box-size(24px);
        }
    }
}

.contact-infos {
    li{
        margin-bottom: 22px;
        @include font(2.25);

        @include pad{
            @include font(1.25);
        }

        @include phone{
            margin-top: 8px;
            @include font(1);
        }
    }

    img{
        @include box-size(36px);

        @include phone{
            display: inline-block;
            margin: 0;
            @include box-size(13px);
        }
    }

    @include phone{
        font-size: 16px;
        line-height: 30px;
        margin-top: -75px;
        flex: 1;
    }
}

.copyright-infos{
    li{
        display: flex;
        margin-top: 24px;
        @include font(1);

        @include phone{
            margin-top: 0px;
        }
    }

    @include phone{
        display: flex;
        flex-direction: column;
    }
} 

.copy-left,.copy-right{
    *{
        margin-right: 38px;
    }
}

.copy-right{
    display: flex;
    margin-top: margin(1.5);
    @include phone{
        font-size: 14px;
        flex-direction: column;
    }   
}

.logo{
    @include phone{
        width: 48px;
        height: auto;
    }
}


.logo-414{
    display: none;

    @include phone{
        width: 46px;
        height: 28px;
        display: block;
        align-self: flex-end;
        margin-top: -28px;
    }
}


